
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

:root {
    --green: #008080;
    --black: #2c2c54;
}

::selection {
    background: var(--green);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6.5rem;
    scroll-behavior: smooth;
}

.header-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    background-color: #fff;
    position: relative;
}

.header-2.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header-2 .navbar a {
    padding: .5rem 1.5rem;
    font-size: 2rem;
    color: var(--black);
    border-radius: .5rem;
}

.header-2 .navbar a:hover {
    color: #fff;
    background-color: var(--green);
}

.header-2 .icons a {
    font-size: 2.5rem;
    color: var(--black);
    padding-left: 1rem;
}

.header-2 .icons a:hover {
    color: var(--green);
}

#menu-bar {
    font-size: 3rem;
    border-radius: .5rem;
    border: .1rem solid var(--black);
    padding: .8rem 1.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}


/* ----------------- media query start -----------------  */

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width:991px) {
    .header-2 {
        padding: 2rem;
    }
}

@media (max-width:768px) {
    #menu-bar {
        display: initial;
    }

    .header-2 .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--green);
        padding: 1rem 2rem;
        display: none;
    }

    .header-2 .navbar.active {
        display: initial;
    }

    .header-2 .navbar a {
        font-size: 2.5rem;
        display: block;
        background: #fff;
        text-align: center;
        padding: 1rem;
        margin: 1.5rem 0;
    }
}

/* Event cards  */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
}
img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    height: 30em;
}

.card {
    display: flex;
    flex-direction: column;
    width: 30em;
    overflow: hidden;
}
.card:hover{
    box-shadow: 0 1rem 1rem rgba(0, 0.1, 0, 0.1);
}
.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.card__body > h4{
    font-size: 1.7em;
}
.card__body > small{
    font-size: 1.2em;
}
.card__footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: auto;
}
.details{
    font-size: 1.5em;
}
.details > small,
.details > span{
    align-self: center;
}
.payments{
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    font-size: 2em;
    margin-top: 1em;
    bottom: 0;
}
#button > button{
    color: #fff;
    border: none;
    font-size: 1em;
    background: red;
    border-radius: .7em;
    padding: .1em .3em;
}


/* post cards  */
.container{
  display: flex;
  justify-content: center;
  padding: 80px;
}

.square:hover {
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
     }


.square{
  width: 460px;
	height: 430px;
	background: white;
  border-radius: 4px;
  box-shadow: 0px 20px 50px #D9DBDF;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}

.mask{
  clip: rect(0px, 460px, 220px, 0px);
  border-radius: 4px;
  position: absolute;
}

img{
  width: 460px;
  }

.h1{
  margin: auto;
  text-align: left;
  margin-top: 240px;
  padding-left: 30px;
  
  font-family: 'Merriweather', serif;
  font-size: 24px;
}
p{
 text-align: justify; 
 padding-left: 30px;
 padding-right: 30px;
 font-family: 'Open Sans', sans-serif;
 font-size: 12px;
 color: #C8C8C8;
 line-height: 18px;
}

.button {
    background-color: #3EDD84;
    color: white;
    width: 90px;
    padding: 10px 18px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 70px;
    font-size: 12px;
    cursor: pointer;
    font-family: 'merriweather';
}