/* service page in the main page styling start */

.box-icon-classNameic-text{
    color: #fff !important;
}

/* service page in the main page styling  end*/

/* contacts page styling start  */
.title-classNameic-text{
    color:#fff;
}

/* contacts page styling end  */

.gallery-section{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}
.gallery-title{
    font-weight: 700;
    margin-top: 0;
}
.box-icon-classNameic{
    border: 1px solid #a9a9a9;
    padding: 1em;
    transition: .5s;
}
.box-icon-classNameic:hover{
    box-shadow: 0 30px 30px rgba(0,0,0,0.4);
    border: none;
}
.box-icon-classNameic-icon{
    font-size: 5em;
    color: var(--red);
}
.box-icon-classNameic-title{
    font-size: 1.3em;
}
.box-position{
    background-image: url(../images/Kalbo\ Adventures\ Karuru\ Experience\ 2021-31.jpg);
}

.destinations{
    display: grid;
}
